@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');

body {
    background-color: rgb(167, 211, 173);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 35px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 33px;
    padding: 0 7px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 0 3px;
}

.container{
    min-height: 61vh;
    background-color: black;
    color: white;
    font-family: 'Verala Round', sans-serif;
    display: flex;
    margin: 22px auto;
    width: 75%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('wallpaper1.jpg');
    background-size: 1057px;
    
}

.bottom {
    position: sticky;
    height: 90px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin: 10px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 31px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 11px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 44px;
    margin: 0 20px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 8vw;
    align-items: center;
    color: white;
    font-family: 'Verala Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}